body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://img.freepik.com/free-photo/rows-books-library_73152-2680.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.top-banner {
    text-align: center;
    padding: 2px;
    color: black;
    border: 1px solid tan;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
}
.entry-form {
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    border: 1px solid tan;
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    height: 180px;
    width: 400px;
    margin:  0 auto;
    color: black;
}
#register {
    margin: 0 auto;
    font-style: normal;
    width: 100px;
    padding: 2px;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    transition-duration: 0.4s;
}
#login {
    transition-duration: 0.4s;
    background-color: blue;
    border-color: blue;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    border-radius: 3px;
    color: white;
}
#login:hover {
    background-color: white;
    border-color: white;
    color: black;
}
a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: blue;
    border-color: blue;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
    padding: 5px 5px 5px 5px;
}
a:hover {
    color: black;
    background-color: white;
}
.top-right-message {
    color:black;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    padding-right: 5%;
    padding-top: 3.5%;
    padding-left: 10px;
}
.button {
    transition-duration: 0.4s;
    background-color: blue;
    border-color: blue;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    border-radius: 5px;
    color: white;
}
.results {
    border: 1px solid tan;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
h3 {
    color: black;
    border-bottom: 1px white;
}
.book-data, #reviews, #leave-review {
    border: 1px solid tan;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 15px;
    width: 400px;
    padding-left: 5px;
    box-shadow: 0px 5px 5px rgb(80, 79, 79, 0.4);
}
#review-text {
    height: 100px;
    width: 200px;
}
#leave-review {
    padding-bottom: 13px;
    text-align: left;
}
#review-table, #review-table tr, #review-table th, #review-table td {
    border: none;
    border-collapse: collapse;
    margin-bottom: 10px;
    text-align: left;
    padding: 3px;
}
#results-table, #results-table tr, #results-table th, #results-table td {
    border: none;
    padding: 5px;
}
#error-message-div{
    padding-bottom: 30px;
}
#search-button {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 6.6%;
    margin-left: 4%;
}