{% extends 'layout.html' %}
{% block content %}

<body>

    <div class="top-banner">
        <h1 id="welcome-message">Find a Good Book</h1>
    </div>

    <div>
        <h4 class="login-top">Login</h4>
    </div>

    <div>
        <h2>{{ message }}</h2>
    </div>

    <div class="container">
        <div class="book-data">

            <h4>Book Information</h4>
                <ul>
                    {% for data in book_info %}
                    <li>Title: {{ data.title }}</li>
                    <li>Author: {{ data.author }}</li>
                    <li>Year Written: {{ data.year }}</li>
                    <li>ISBN: {{ data.isbn }}</li>
                    <li>Goodreads Avg. Rating: {{ avg_rating }}</li>
                    <li>Goodreads Review Count: {{ review_count}}</li>
                </ul>
                    {% endfor %}

        </div>

        <div id="leave-review">
            <form action="{{ url_for( 'review') }}" method="POST">

                <h4>Leave a Review</h4>

                <p>Rating</p>
                <input type="radio" name="rating" id="1" value="1">
                <label for="1">1</label>
                <input type="radio" name="rating" id="2" value="2">
                <label for="2">2</label>
                <input type="radio" name="rating" id="3" value="3">
                <label for="3">3</label>
                <input type="radio" name="rating" id="4" value="4">
                <label for="4">4</label>
                <input type="radio" name="rating" id="5" value="5">
                <label for="5">5</label>

                <br>
                <br>

                <input type="text" name="review-text" id="review-text" placeholder="Leave Review Here..">

                <br>
                <br>

                <button type="submit" id="login">Leave Review</button>


            </form>

        </div>

        <div id="reviews">
            <h4>Reviews</h4>
            <ul>
                {% for data in review_data %}
                <div id="user">
                    <li>{{ data.username }}</li>
                </div>
                <div id="user-rating">
                    <li>{{ data.rating }}</li>
                </div>
                <div id="user-review">
                    <li>{{ data.review }}</li>
                </div>           
            </ul>    
                {% endfor %}
        </div>

    </div>    


</body>

{% endblock %}
