{%  extends 'layout.html' %}
{% block content %}

<body>

    <div class="top-banner">
        <h1 id="welcome-message">Find a Good Book</h1>
    </div>

    <div>
        <h4 class="login-top">Login</h4>
    </div>
    
    <br>
    
    <div class="entry-form">
    
        <h2 id="fail">{{ message }}</h2>

        <p>Have you made an account?</p>
    
        <a href="{{ url_for( 'register' )}}">Back To Register</a>

        <p>Ty logging in again</p>

        <a href="{{ url_for( 'index' ) }}">Back to Login</a>

    </div>

</body>


{% endblock %}