{% extends 'layout.html' %}

{% block content %}
<body>

    <div class="top-banner">
        <h1 id="welcome-message">Find a Good Book</h1>
    </div>

    <div>
        <h4 class="login-top">Login</h4>
    </div>

    <br>

    <div class="entry-form" id="search-form">

        <form action="{{ url_for( 'search' )}}" method="POST">

            <h2 class='welcome'>Search for a Book</h2>

            <p>You can search by Title, Author, Year, or ISBN. (Case Sensitive)</p>

            
            <input type="text" name="search" placeholder="Enter Search Here">

            <br>
            <br>

            <button type="submit" id="login">Search</button>

        </form>
    
    </div>

    <br>

    <div class="results">
        <div class="underline">
            <h3>Results</h3>
        </div>
           
        <table id="results-table">
            
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                </tr>
            </thead>

            <tbody>
            {% for book in result %}     
                <tr>
                    <td><a href="{{ url_for( 'book', isbn=book.isbn ) }}" id="book-link">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
                
            </tbody>
            {% endfor %}    
        </table>
        
    </div>    

        

</body>
{% endblock %}