{% extends 'layout.html' %}

{% block content %}
<body>

    <div class="top-banner">
        <h1 id="welcome-message">Find a Good Book</h1>
    </div>

    <div>
        <h4 class="login-top">Login</h4>
    </div>

    <br>

    <div class="entry-form">

        <form action="{{ url_for( 'search' )}}" method="POST">

            <h2 class='welcome'>Search for a Book</h2>
            
                <input type="text" name="search" placeholder="Enter Search Here">

                <br>
                <br>

            <button type="submit" id="login">Search</button>

        </form>

        <h3>Results</h3>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                </tr>
            </thead>

            <tbody>
                {% for book in result %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</body>
{% endblock %}